{%extends 'base.html'%}


{%block title%}
Sidings Home
{%endblock title%}


{%block content%}

<h1>ICD Okhla Home</h1>
<div class="form-group">
            <a class="btn btn-success" href="{% url 'sidings_home' %}"> Back</a> 
        </div>
<div calss="container-fluid bg-success">
    <div class="col-sm-8" style="float: left; border: 3px solid #73AD21; padding: 10px;">
        <ul class="list-group">
            <li class="list-group-item"><a href="#">Modules Present</a></li>
            <li class="list-group-item"><a href="#">Modules Recieved</a></li>
            <li class="list-group-item"><a href="#">ATL Repair Details</a></li>
        </ul>
    </div>
</div>


{%endblock content%}