{%extends 'base.html'%}
{% load crispy_forms_tags %}
{% load static %}
{%block title%}
ROH
{%endblock title%}

{%block head%}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  
{%endblock head%}
{%block content%}

<h1>Member Details</h1>

<div class="book-detail" style="display: flex; align-items: stretch;background-color: #f1f1f1;">
    
    <div style="flex-grow: 8; background-color:DodgerBlue;" >
        <table class="table table-bordered">
        <thead>
            <tr>
            <th>S.No</th>    
            <th>Username</th>
            <th>Designation</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Address</th>
            <th>Posted</th>
            </tr>
        </thead>
        
        <tbody>
        {%for obj in x  %}
            <tr class='danger'>
                <td class='text-primary'>{{forloop.counter}}</td>
                <td class='text-primary'><a href="{%url 'profilePage' obj.id %}">{{obj.username}}</a></td>
                <td class='text-primary'>{{obj.profile.Designation}}</td>
                <td class='text-primary'>{{obj.email}}</td>
                <td class='text-primary'>{{obj.profile.Mobile}}</td>
                <td class='text-primary'>{{obj.profile.LocalAddress}}</td>
                <td class='text-primary'>{{obj.profile.Posted}}</td>

                
            </tr>
        {%endfor%}
        </tbody>
        
        </table>
    </div >
   
</div>


{%endblock content%}
