{% extends "base2.html" %}
{% load crispy_forms_tags %}
{% block content %}
    
    <div class="content-section">
  <div class="media center" style="">
    <img class="rounded-circle account-img img-thumbnail" src="{{object.profile.image.url}}">
    <div class="media-body">
      <h2 class="account-heading">{{object.username}}</h2>
      <p class="text-secondary">Email Id: {{object.email}}</p>
      <h4 class="account-heading">ID Card Number: {{object.profile.IDNumber}}</h4>
      <h4 class="account-heading">Designation: {{object.profile.Designation}}</h4>
      <h4 class="account-heading">Local Address: {{object.profile.LocalAddress}}</h4>
      <h4 class="account-heading">Mobile: {{object.profile.Mobile}}</h4>
        {%if user == object.username%}
      <a class="btn-sm" style="margin-bottom: 30px;background-color:Grey; color:White; font-weight: 700; font-size: 15px; margin-right:0px; margin-top:5px;" href="{%url 'updateProfile'%}">Update Info</a>
        {%endif%}
    </div>
  </div>
  </div>
  


{% endblock content %}
