{%extends 'base.html'%}


{%block title%}
success
{%endblock title%}
{%block head%}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{%endblock head%}

{%block content%}

<h1>OK! GREAT SUCCESS !!</h1>
<input type="text" id="autocomplete" name="Item"  style="background-color: white; color:black" />

<script>
$( "#autocomplete" ).autocomplete({
  source: [ "c++", "java", "php", "coldfusion", "javascript", "asp", "ruby" ]
});
</script>
{%endblock content%}